body {
    margin-left: 50px;
    max-width: 1000px;
}

* {
    font-weight: normal;
    font-size: 30px;
    font-family: AkzidenzGrotesk;
    src: url("font-family/"Akzidenz-grotesk-roman.ttf") format('truetype');
}
