body {
    margin-left: 50px;
    max-width: 1000px;
}


h1, h2, h3, h4, section {
    font-family: AkzidenzGrotesk
    src: url("font-family/"Akzidenz-grotesk-roman.ttf") format('truetype');
    font-weight: normal;
    font-size: 30px;
}

#main-list {
    list-style-image: url("ellipse.png");
}
