body {
    margin-left: 50px;
    max-width: 1000px;

}


* {
    font-family: AkzidenzGrotesk;
    src: url("font-family/"Akzidenz-grotesk-roman.ttf") format('truetype');
    font-weight: normal;
    font-size: 30px;
}

ul {
    list-style-image: url("ellipse.png");
}
